<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Edit Item</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
  <link href="../../static/css/main.css" th:href="@{../../css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
  <div class="jumbotron home-jumbo"><br><br><br><br><br><br><br>
    <div class="container text-center text-white text-bold jumbo-container">
      <h1 class="display-3">WAREHOUSEMAN 2.0</h1><br><br><br>
    </div>
  </div>
</div>
<br>
<div class="text-center">
  <a href="../item/items.html" type="button" class="btn btn-primary" th:href="@{/items}">Return to Items List</a>
</div>
<br>
<div>
  <h3 class="text-center">Edit Item</h3>
</div>
<div class="text-danger">
  <p class="text-center" th:text="${message}"></p>
</div>
<form class="d-flex" action="#" th:action="@{/items/edit}" method="post" th:object="${item}">
  <div class="col-4 offset-4 shadow p-3 mb-5 bg-body rounded">
    <div class="input-group mb-3">
      <div class="col-md-8">
        <label for="name">Name / ID</label>
        <span id="name" class="form-control" th:name="name" th:text="*{name}">Item Name</span>
        <input type="hidden" name="name" th:value="*{name}">
        <input type="hidden" name="id" th:value="*{id}">
        <input type="hidden" name="pallets" th:value="*{pallets}">
      </div>
      <div>
        <label for="quantity">Quantity on 1 pallet</label>
        <input type="number" min="1" step="1" class="form-control"
               name="quantityOnOnePallet" value="1" id="quantity" th:value="*{quantityOnOnePallet}" required>
      </div>
    </div>
    <div class="mb-3 ">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" rows="4" name="description" th:text="*{description}"></textarea>
    </div>
    <div class="col-auto text-center">
      <button type="submit" class="btn btn-success mb-3">Save Item</button>
    </div>
  </div>
</form>
</body>
</html>


