<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="../../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo"><br><br><br><br><br><br><br>
        <div class="container text-center text-white text-bold jumbo-container">
            <h1 class="display-3">WAREHOUSEMAN 2.0</h1><br><br><br>
        </div>
    </div>
</div><br>
<div class="text-center">
    <a href="../delivery/deliveries.html" type="button" class="btn btn-success" th:href="@{/deliveries}">Delivery History</a>
    <a href="../departure/departures.html" type="button" class="btn btn-danger" th:href="@{/departures}">Departure History</a>
    <a href="../transporter/transporters.html" type="button" class="btn btn-warning" th:href="@{/transporters}">Transporters</a>
    <a href="../warehousemen.html" type="button" class="btn btn-info" th:href="@{/warehousemen}">Warehousemen</a>
</div>
<div class="text-danger">
    <p class="text-center" th:text="${message}"></p>
</div>
<div>
    <h3 class="text-center">Items in warehouse</h3>
</div>
<div class="col-4 offset-4">
    <form class="d-flex" action="#" th:action="@{/items}" method="get">
        <input class="form-control me-3" type="search" placeholder="Search by name" aria-label="Search" name="name">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>
<div class="col-8 offset-2 shadow p-3 mb-5 bg-body rounded">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name/ID</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity on 1 pallet</th>
            <th scope="col">Pallets</th>
            <th scope="col">Availability</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="item : ${items}" th:object="${item}">
            <th scope="row" th:text="*{id}">1</th>
            <td th:text="*{name}">Item 1</td>
            <td th:text="*{description}">
                this is the best description of item 1 this is the best description of item and item item
            </td>
            <td th:text="*{quantityOnOnePallet}">50</td>
            <td th:text="*{pallets}">10</td>
            <td th:text="*{availability}">500</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Item 2</td>
            <td>this is the best description of item 2</td>
            <td>100</td>
            <td>10</td>
            <td>1000</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Item 3</td>
            <td>this is the best description of item 3</td>
            <td>200</td>
            <td>20</td>
            <td>4000</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
    <a href="../item/add_item.html" type="button" class="btn btn-primary" th:href="@{/items/add}">Add Item</a>
</div>
</body>
</html>