<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deliveries</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="../../static/css/main.css" th:href="@{css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo"><br><br><br><br><br><br><br>
        <div class="container text-center text-white text-bold jumbo-container">
            <h1 class="display-3">WAREHOUSEMAN 2.0</h1><br><br><br>
        </div>
    </div>
</div>
<br>
<div class="text-center">
    <a href="../item/items.html" type="button" class="btn btn-primary" th:href="@{/items}">Items</a>
    <a href="../departure/departures.html" type="button" class="btn btn-danger" th:href="@{/departures}">Departures</a>
    <a href="../transporter/transporters.html" type="button" class="btn btn-warning" th:href="@{/transporters}">Transporters</a>
    <a href="../warehouseman/warehousemen.html" type="button" class="btn btn-info" th:href="@{/warehousemen}">Warehousemen</a>
</div>
<div class="text-danger">
    <p class="text-center" th:text="${message}"></p>
</div>
<div>
    <h3 class="text-center">History of Deliveries</h3>
</div>
<div class="col-4 offset-4">
    <form class="d-flex" action="#" th:action="@{/deliveries}" method="get">
        <input class="form-control me-3" type="search" placeholder="Search" aria-label="Search" name="search">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
</div>
<div class="col-8 offset-2 shadow p-3 mb-5 bg-body rounded">
    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Pallets</th>
            <th scope="col">Transporter</th>
            <th scope="col">Warehouseman</th>
        </tr>
        </thead>
        <tbody th:remove="all-but-first">
        <tr th:each="delivery, state : ${deliveries}" th:object="${delivery}">
            <th scope="row" th:text="${state.count}">1</th>
            <td th:text="*{date}">2020-02-02T16:00</td>
            <td>
                <a href="../item/items.html" type="text" th:text="*{item}" th:href="@{|/items/*{itemId}|}">Item 1</a>
            </td>
            <td th:text="*{itemsQuantity}">500</td>
            <td th:text="*{palletsQuantity}">10</td>
            <td>
                <a href="../transporter/transporters.html" type="text" th:text="*{transporter}"
                   th:href="@{|/transporters/*{transporterId}|}">Transporter 1</a>
            </td>
            <td>
                <a href="../warehouseman/warehousemen.html" type="text" th:text="*{warehouseman}"
                   th:href="@{|/warehousemen/*{warehousemanId}|}">Warehouseman 1</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>2020-02-02T16:00</td>
            <td>
                <a href="../item/items.html" type="text">Item 2</a>
            </td>
            <td>100</td>
            <td>10</td>
            <td>
                <a href="../transporter/transporters.html" type="text">Transporter 2</a>
            </td>
            <td>
                <a href="../warehousemen.html" type="text">Warehouseman 2</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>2020-02-02T16:00</td>
            <td>
                <a href="../item/items.html" type="text">Item 3</a>
            </td>
            <td>100</td>
            <td>10</td>
            <td>
                <a href="../transporter/transporters.html" type="text">Transporter 3</a>
            </td>
            <td>
                <a href="../warehousemen.html" type="text">Warehouseman 3</a>
            </td>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="d-grid gap-2 col-2 mx-auto">
    <a href="../delivery/take_delivery.html" type="button" class="btn btn-success" th:href="@{/deliveries/take}">
        Take Delivery
    </a>
</div>
</body>
</html>