<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Collect Delivery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link href="../../static/css/main.css" th:href="@{../css/main.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="jumbotron home-jumbo"><br><br><br><br><br><br><br>
        <div class="container text-center text-white text-bold jumbo-container">
            <h1 class="display-3">WAREHOUSEMAN 2.0</h1><br><br><br>
        </div>
    </div>
</div>
<br>
<div class="text-center">
    <a href="../delivery/deliveries.html" type="button" class="btn btn-success" th:href="@{/deliveries}">
        Return to Delivery History
    </a>
</div>
<br>
<div>
    <h3 class="text-center">Take Delivery</h3>
</div>
<div class="text-danger">
    <p class="text-center" th:text="${message}"></p>
</div>
<form class="row g-3 col-4 offset-4 shadow p-3 mb-5 bg-body rounded"
      novalidate action="#" th:action="@{/deliveries}" method="post">
    <input type="hidden" name="departure" value="false">
    <div class="col-md-6">
        <label for="warehouseman">ID of the Warehouseman</label>
        <span id="warehouseman" class="form-control" th:name="warehouseman" th:text="${warehouseman}">123Q</span>
        <input type="hidden" name="warehouseman" th:value="${warehouseman}">
    </div>
    <div class="col-md-6">
        <label for="transporter">ID of the Transporter</label>
        <select class="form-select" name="transporter" id="transporter" required>
            <option selected></option>
            <option value="1" th:each="transporter : ${transporters}"
                    th:text="${transporter.name}" th:value="${transporter.name}">Warehouseman
            </option>
        </select>
    </div>
    <div class="col-md-6">
        <label for="item">Name (ID) of the Item</label>
        <select class="form-select" name="item" id="item" required>
            <option selected></option>
            <option value="1" th:each="item : ${items}"
                    th:text="${item.name}" th:value="${item.name}">Warehouseman
            </option>
        </select>
    </div>
    <div class="col-md-6 ">
        <label for="pallets">Quantity of Pallets with Items</label>
        <input type="number" min="1" step="1" class="form-control"
               name="palletsQuantity" value="1" id="pallets" required>
    </div>
    <div class="col-12 text-center">
        <button class="btn btn-primary" type="submit">Collect Delivery</button>
    </div>
</form>
</body>
</html>


