.home-jumbo{
    background: url("../img/warehouse-back20.jpg") center;
}

.home-jumbo{
    background-image:  url("../img/warehouse-back20.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

